# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=

NEXTAUTH_URL=http://localhost:3000/api/auth
# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
NEXTAUTH_SECRET=9f9b0d8c1be30e61f40cfee6f0989f20

GOOGLE_CLIENT_ID=299476075500-q24dhaicibdps1496oj6rj8oljtscis8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Stripe keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51O21dWDlC7nYAnbNr8iklKuMGlufdbiU7J6Z0dTygBj5DDK7GWTmhL1YR2Ytfl1bluB0vPOIDIB7DaRo5fLLHzD500gOLtygmn
STRIPE_SECRET_KEY=sk_test_51O21dWDlC7nYAnbNk4ka0pkV9YTCGEUq3vAN1nFy4Xeye5VCjoXP8lbTJAu26LEfExUcbvoaZlkIOTv6e6O2QKtc00Ud9K9HCs
WEBHOOK_SECRET_KEY=we_1O2MwRDlC7nYAnbN34Aa2WAM

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# vercel
POSTGRES_PRISMA_URL="postgres://default:lEJ7qQa5IbwU@ep-long-river-a4bxt40e-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"

# plaid
PLAID_ENV=sandbox
PLAID_CLIENT_ID=64fe2e50d74bcb0018bdd152
PLAID_SECRET=241aefe097ee57467efeea79ec6316
PLAID_PRODUCTS=auth,transactions,investments,liabilities
PLAID_COUNTRY_CODES=US,CA
PLAID_REDIRECT_URI=

ADMIN_EMAIL=dragonknight0522@gmail.com

KV_URL="redis://default:AZasAAIjcDFiMGI0M2Q2OGZmNGI0MTQwOWM1ODdiMTc4NmQ4NzQ4M3AxMA@loving-bunny-38572.upstash.io:6379"
KV_REST_API_URL="https://loving-bunny-38572.upstash.io"
KV_REST_API_TOKEN="AZasAAIjcDFiMGI0M2Q2OGZmNGI0MTQwOWM1ODdiMTc4NmQ4NzQ4M3AxMA"
KV_REST_API_READ_ONLY_TOKEN="ApasAAIgcDHtvdZUJFC4JNwb1Ie1u8D8k3cI28TgHfAmLa1BbVAWMA"