@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Background and Foreground */
        --background: 0 0% 100%; /* White */
        --foreground: 0 0% 0%; /* Black */
        
        /* Cards and Popovers */
        --card: 0 0% 98%; /* Light Grey for Cards */
        --card-foreground: 0 0% 20%; /* Dark Grey for Text */
        --popover: 0 0% 97%; /* Slightly Off-White for Popovers */
        --popover-foreground: 0 0% 15%; /* Darker Grey for Popover Text */

        /* Primary and Secondary Colors */
        --primary: 0 0% 20%; /* Black */
        --primary-foreground: 0 0% 100%; /* White */
        --secondary: 0 0% 90%; /* Very Light Grey */
        --secondary-foreground: 0 0% 15%; /* Dark Grey for Text on Secondary */

        /* Muted Colors */
        --muted: 0 0% 95%; /* Soft Grey for Muted Elements */
        --muted-foreground: 0 0% 30%; /* Grey for Muted Text */

        /* Accent and Destructive Colors */
        --accent: 0 0% 90%; /* Light Grey Accent */
        --accent-foreground: 0 0% 10%; /* Almost Black */
        --destructive: 0 72% 51%; /* Red for Destructive Actions */
        --destructive-foreground: 0 0% 100%; /* White on Red */

        /* Border, Input, and Ring */
        --border: 0 0% 85%; /* Light Grey Border */
        --input: 0 0% 92%; /* Light Grey for Input Background */
        --ring: 0 0% 40%; /* Grey for Focus Ring */

        --radius: 0.5rem; /* Border Radius */

        /* Chart Colors */
        --chart-1: 221.2 83.2% 53.3%;
        --chart-2: 212 95% 68%;
        --chart-3: 216 92% 60%;
        --chart-4: 210 98% 78%;
        --chart-5: 212 97% 87%;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 72% 51%;
        --destructive-foreground: 210 40% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 221.2 83.2% 53.3%;
        --radius: 0.5rem; /* Border Radius */
        --chart-1: 221.2 83.2% 53.3%;
        --chart-2: 212 95% 68%;
        --chart-3: 216 92% 60%;
        --chart-4: 210 98% 78%;
        --chart-5: 212 97% 87%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.no-scrollbar {
    scrollbar-width: "none";
    -ms-overflow-style: "none";
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.tremor-BarList-bar > div {
    overflow: hidden !important;
    padding: 0 0.5rem;
}

.tremor-BarList-root {
    width: calc(100vw - 12rem);
}

#headlessui-portal-root .tremor-BarList-root {
    width: calc(100vw - 10rem);
}

.break-word {
    word-break: break-word;
}

.multiselect > button {
    overflow: hidden !important;
}

.go2072408551 {
    max-width: 450px !important;
}
